.servicos-solicitados {
  color: black;
  text-align: left;
  margin-left: 500px;
  margin-top: 100px;
  font-weight: bold;
  font-size: 30px;
}

.card {
  margin-top: 10px;
  margin-left: 500px;
  margin-right: 500px;
}

footer {
  margin-top: 100px;
}

.card-header {
  font-weight: bold;
}

@media (max-width: 600px) {
  header {
    padding-right: 0px;
  }
  .servicos-solicitados {
    margin-left: 10px;
  }
  .card {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }

  footer {
    padding-right: 0px;
  }
}

@media (max-width: 900px) {
  header {
    padding-right: 0px;
  }
  .servicos-solicitados {
    margin-left: 10px;
  }
  .card {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }

  footer {
    padding-right: 0px;
    padding-bottom: 100px;
  }
}

@media (max-width: 1200px) {
  .servicos-solicitados {
    color: black;
    text-align: left;
    margin-left: 100px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 30px;
  }
  
  .card {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  footer {
    margin-top: 100px;
  }
  
  .card-header {
    font-weight: bold;
  }
}

@media (min-height: 1100px) {
  footer {
    padding-right: 0px;
    padding-bottom: 1000px;
  }
}