.home-introducao {
  margin-bottom: 100px;
}

.home-introducao-bg {
  position: relative;
}

.home-introducao-bg::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/home/foto-home.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.home-introducao-conteudo {
  position: relative;
  padding: 100px 0px 100px 0px;
}

.home-introducao-search {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .home-introducao {
    margin-bottom: 60px;
  }

  .home-introducao-conteudo {
    padding: 60px 0px 60px 0px;
  }
}

@media (max-width: 576px) {
  .home-introducao-bg::before {
    background-image: url("../../img/home/foto-home-mob.jpg");
  }
}
